html {
  background: #0025ff;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  /* Eller något snyggare sen! */
  line-height: 1.6;
  background-color: #f0f2f5;
  /* ljusgrå för att se boxarna bättre, ändra senare */
  color: #1a1a1a;
}

/* MOBIL (Standard) */
.news-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* Bara en kolumn */
  gap: 20px;
  padding: 20px;
}

.news-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.hero-card {
  background: white;
  border-radius: 8px;
  /*lite rundade hörn */
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  /* ger avstånd till dem andra korten */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* annan skugga än för dem andra */
  padding: 30px;
}

.news-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.hero-img {
  width: 100%;
  height: 400px;
  /*lite högre än dem andra */
  object-fit: cover;
  border-radius: 12px;
  /*mjukare hörn för huvudbilden */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  /*lite skugga */
}

/* TABLET (från 668px bredd) */
@media (min-width: 668px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 kolumner */
  }
}

/* DESKTOP (från 1024px bredd) */
@media (min-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(4, 1fr);
    /* 4 kolumner ! */
  }
}